<h1 class="header-text">Finding Falcone! </h1>
<p class="header-text">Select planets you want to search in :</p>
<div class="container">
  <div class="row">
    <div class="col-md-3" *ngFor="let item of selectedPlanetsIndex;let i=index;">
      Destination {{i+1}} :
      <select [(ngModel)]="selectedPlanetsIndex[i]" (change)="planetChange()">
        <option value="-1" selected></option>
        <ng-container *ngFor="let planet of planets;let p=index">
          <option value="{{p}}" [hidden]="showElement(p)">{{planet.name}}</option>
        </ng-container>
      </select>
      <div>
        <div *ngIf="selectedPlanetsIndex[i]>=0">
        <div *ngFor="let vehicle of vehicles;let v=index">
          <input type="radio" name="destvehicle{{i}}" value="" (change)="vehicleChange(i,v)" [disabled]="( vehicle.total_no == 0 && selectedVehiclesIndex[i] != v ) || ( selectedPlanetsIndex[i] >=0  && planets[selectedPlanetsIndex[i]].distance > vehicle.max_distance) ">
          <label >{{vehicle.name}} ({{vehicle.total_no}})</label>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<span class="header-text">Time Taken : {{time}}</span>
<button class="header-text" (click)="findFalcone()" [disabled]="enableButton()">Find Falcone</button>