/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
.body-color{
    padding: 30px;
}
body{
    background-image: url("./assets/falcone.jpg");
    color: white;
    background-size: 100%;
}